@model IEnumerable<EmcureNPD.Business.Models.ProjectTaskEntity>
@{
    ViewData["Title"] = "Project Summary";
    var ScreenId = Context.Request.Query["ScreenId"];
}

<link href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" rel="stylesheet" type="text/css" />
<style>
    .gantt_task_progress {
        text-align: left;
        padding-left: 10px;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
    }

    .gantt_tooltip {
        font-size: 13px;
        line-height: 16px;
        z-index: 999999;
    }

    .gantt_task_content {
        padding-left: 30px;
    }

    .task-no-progress {
        background: #3db9d3;
    }

        .task-no-progress .gantt_task_progress {
            background: #2898b0;
            border: red;
        }

    .task-in-progress {
        background: green;
    }

        .task-in-progress .gantt_task_progress {
            background: limegreen;
        }

    .task-full-progress .gantt_task_progress {
        background: gray;
        border: red;
    }

    /*new code added on date 10/03/2021*/
    .gantt_task_line.gantt_dependent_task {
        background-color: #65c16f;
        border: 1px solid #3c9445;
    }

        .gantt_task_line.gantt_dependent_task .gantt_task_progress {
            background-color: #46ad51;
        }

    .hide_project_progress_drag .gantt_task_progress_drag {
        visibility: hidden;
    }

    .gantt_task_cell.week_end {
        background-color: #EFF5FD;
    }

    .gantt_task_row.gantt_selected .gantt_task_cell.week_end {
        background-color: #F8EC9C;
    }
    /*end of new code*/

    /*new code for baseline*/
    .baseline {
        position: absolute;
        border-radius: 2px;
        opacity: 0.6;
        margin-top: -7px;
        height: 12px;
        background: #ffd180;
        border: 1px solid rgb(255, 153, 0);
    }

    /* move task lines upper */
    .gantt_task_line, .gantt_line_wrapper {
        margin-top: -9px;
    }

    .gantt_side_content {
        margin-bottom: 7px;
    }

    .gantt_task_link .gantt_link_arrow {
        margin-top: -12px
    }

    .gantt_side_content.gantt_right {
        bottom: 0;
    }

    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
    }
    /*end of code base line*/



</style>

<div class="content-header">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 class="m-0">Projects Gantt Chart</h2>
        <div class="md-right mb-1">
            <div class="mybtn-group">
                <button class="btn btn-danger" onclick="javascript:window.history.back();"><i class="fas fa-undo mr-1"></i> Back</button>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid background-white-card">

    <section class="connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
            @* <div class="card-header">
            <h3 class="card-title">
            <i class="far fa-plus-square mr-2"></i> Project : @ViewBag.GanttProjectName
            </h3>

            </div>*@
            <div class="card-header bg-primary">
                <h3 class="card-title mb-0">Project : <span id="lblProjectName"></span></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" id="AddyeartableCollapseButton" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="card maximized-card">
                    <div class="card-body">
                        <div class="row">
                            <form class="gantt_control col-md-12">

                                <input type="radio" id="scale1" class="gantt_radio" name="scale" value="day" checked>
                                <label for="scale1">Day scale</label>

                                <input type="radio" id="scale2" class="gantt_radio" name="scale" value="week">
                                <label for="scale2">Week scale</label>

                                <input type="radio" id="scale3" class="gantt_radio" name="scale" value="month">
                                <label for="scale3">Month scale</label>

                                <input type="radio" id="scale5" class="gantt_radio" name="scale" value="year">
                                <label for="scale5">Year scale</label>
                                <button type="button" class="btn float-right p-0" data-card-widget="maximize">
                                    <i class="fas fa-compress"></i>
                                </button>
                            </form>
                            <div id="ganttContainer" style="height:700px; width:auto;max-width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section MyScripts{


    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link href="~/css/gantt.css" rel="stylesheet" />
    <script src="~/js/custom/project/projectganttsummary.js"></script>
    <script src="~/js/custom/gantt/dhtmlxgantt.js"></script>
    <script>
        var id = "@ScreenId";
        const AllPIDF = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllPIDF";
    </script>

}
