################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmcureNPD/v17/.wsuo
/.vs
/NPD/EmcureNPD.API/wwwroot/Uploads/PIDF/APIIPD
/ExistingApplication
