################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmcureNPD/v17/.wsuo
/.vs
/NPD/EmcureNPD.API/wwwroot/Uploads/PIDF/APIIPD
/ExistingApplication
/NPD/EmcureNPD.API/wwwroot/Uploads/PIDF/Medical
/Documents/HTML/Emcure/Project-charter/.vs
/Documents/Publish/Emcure_API/wwwroot/Uploads/errorlogs/AppLogs20231121.log
*.log
