################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmcureNPD/v17/.wsuo
/.vs

/NPD/EmcureNPD.API/Properties/launchSettings.json
/NPD/EmcureNPD.API/appsettings.json
/NPD/EmcureNPD.Web/Properties/launchSettings.json
/NPD/EmcureNPD.Web/appsettings.json
