@model ForgotPasswordViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Forgot your password?"].Value;
}

<section class="beforeLoginPage forgotpassword-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h3 class="mb-0">@SharedLocalizer["Forgot Password"].Value</h3>
            </div>
            
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label>Enter your Email Id<span style="color:red;">*</span></label>
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">@SharedLocalizer["Send"].Value</button>
                            <br />
                            <a class="btn btn-default btn-block" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-arrow-left"></i>  @SharedLocalizer["Back to Login"].Value</a>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<style>
    footer, hr {
        display: none;
    }
</style>
