@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@SharedLocalizer["This account has been locked out, please try again later."].Value</p>
</header>
