<body style='background: #ebebeb;'> 
	<div style='max-width:550px;width:550px;margin:35px auto 0; padding:10px;'>
		<div style='width:100%;box-shadow:0px 1px 5px rgba(44,80,102,0.5);border-radius:4px;overflow:hidden'>
			<div style='margin:0px auto 0;max-width:640px;width:640px;max-height:80px;height:80px;'>
				<table role='presentation' cellpadding='0' cellspacing='0' style='font-size:0px;width:100%; background-color: #007bff;'>
					<tbody>
						<tr>
							<td style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:10px 5px'>
								<div style='cursor:auto;color:white;font-family:sans-serif;font-size:30px;font-weight:600;line-height:30px;text-align:center;'>
									<span style="margin:0 auto;">Welcome to Emcure</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style='margin:0px auto;max-width:640px; width:640px;background:#ffffff;'>
				<table role='presentation' cellpadding='0' cellspacing='0' style='font-size:0px;width:100%;background:#ffffff;' align='center' border='0'>
					<tbody>
						<tr>
							<td style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:15px 25px 20px;'>
								<div aria-labelledby='mj-column-per-100' class='mj-column-per-100 outlook-group-fix' style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;max-width: 450px;width: 450px;'>
									<table role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0'>
										<tbody>
											<tr>
												<td style='word-break:break-word;font-size:0px;padding:0px 0px 10px;' align='left'>
													<div style='cursor:auto;color:#737F8D;font-family:sans-serif;font-size:16px;line-height:24px;text-align:left;'>
														<h2 style='font-family: sans-serif;font-weight: 500;font-size: 20px;color: #4F545C;letter-spacing: 0.27px;'>Dear</h2>
														<p>{messagetext}</p>
														<br>
														<a href='{ApplicationURL}' style='text-decoration:none;line-height:100%;background:rgba(44,80,102,1);color:white;font-family:sans-serif;font-size:15px;font-weight:bold;text-transform:none;margin:0px; border:none;border-radius:3px;color:white; padding:15px 19px; background-color:#007bff;' target='_blank'>Go To Portal</a>
														<br><br>
														<p style='margin-bottom:5px;'>Best Regards, </p>
														<p style='margin-top:5px; margin-bottom:0;'>Team @ Emcure</p>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>