
<h4>
    Contact us for any queries
</h4>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Extension. No</label>
                    <input type="text" value="2829" class="form-control" disabled />
                </div>
                <div class="col-md-12 form-group">
                    <label> Email ID</label>
                    <input type="email" class="form-control" value="rahula.patil@emcure.co.in" disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <a href="mailto:rahula.patil@emcure.co.in" class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Send Email</a>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    var contClass = document.getElementById('contactdetails');
    contClass.classList.add('active');
</script>