@using Microsoft.AspNetCore.Http
@using EmcureNPD.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<EmcureNPD.Resource.Shared> SharedLocalizer
@model EmcureNPD.Business.Models.PIDFEntity

<div class="content-header">
	<div class="container-fluid d-flex justify-content-between">
		<h3>@SharedLocalizer["Dashboard"]</h3>
	</div>
</div>
<div class="container-fluid overflow-auto">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group required">
				@Html.LabelFor(model => model.BusinessUnitId, "Business Unit", new { @class = "control-label" })
				<select id="BusinessUnitId" name="BusinessUnitId" class="form-control readOnlyUpdate" required></select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group required">
				<label class="m-1" for="years">Year</label>
				<select id="years" name="years" class="form-control readOnlyUpdate" required></select>
			</div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>

	<div id="PIDFContainer" class="row">
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="row">
		<div class="col-6 background-white-card">
			<canvas id="chart" width="200" height="200"></canvas>
		</div>
		<div class="col-6 background-white-card">
			<h3 class="card-title">
				<i class="fas fa-map-marker-alt mr-1"></i> All Projects - Location Wise
			</h3>
			<div id="map" style="width: 600px; height: 400px"></div>
		</div>
	</div>
</div>

@section MyScripts {
	<script type="text/javascript" src="~/js/Custom/Dashboard/Dashboard.js"></script>
	<link href="~/adminlte/plugins/jquery-jvectormap-2.0.5.css" rel="stylesheet" />
	<script src="~/adminlte/plugins/jquery-jvectormap-2.0.5.min.js"></script>
	<script type="text/javascript" src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
	<script src="~/adminlte/plugins/jquery-jvectormap-world-mill-en.js"></script>
	<script>
		var GetAllDashboard = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllDashboard";
		var GetPIDFList = "@EmcureNPD.Web.Helpers.APIURLHelper.GetPIDFList";

		$(document).ready(function () {
			$(function () {
				var markers = [];
				var map = $('#map').vectorMap({
					map: 'world_mill_en',
					scaleColors: ['#C8EEFF', '#0071A4'],
					normalizeFunction: 'polynomial',
					hoverOpacity: 0.7,
					hoverColor: false,
					markerStyle: {
						initial: {
							fill: '#F8E23B',
							stroke: '#383f47'
						}
					},
					series: {
						markers: markers
					},
					onMarkerClick: function (event, index) {
						var markerData = markers[index];
						$('#BusinessUnitId').val(markerData.bUnitId);
						$('#BusinessUnitId').change();
					}
				}).vectorMap('get', 'mapObject');

				$.ajax({
					url: $('#hdnBaseURL').val() + GetAllDashboard,
					type: 'GET',
					success: function (data) {
						$.each(data.MasterBusinessUnits, function (index, markerData) {
							var marker = {
								latLng: [markerData.latitude, markerData.longitude],
								name: markerData.businessUnitName,
								bUnitId: markerData.businessUnitId
							};
							markers.push(marker);
						});
						map.addMarkers(markers);
						// refresh the map
						map.updateSize();
					}
				});
			});
		});
	</script>
}
