html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.gantt_grid_scale .gantt_grid_head_cell,
.gantt_task .gantt_task_scale .gantt_scale_cell {
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.resource_marker {
    text-align: center;
}

    .resource_marker div {
        width: 28px;
        height: 28px;
        line-height: 29px;
        display: inline-block;
        color: #FFF;
        margin: 3px;
    }

    .resource_marker.workday_ok div {
        border-radius: 15px;
        background: #51c185;
    }

    .resource_marker.workday_over div {
        border-radius: 3px;
        background: #ff8686;
    }

.folder_row {
    font-weight: bold;
}

.highlighted_resource,
.highlighted_resource.odd {
    background-color: rgba(255, 251, 224, 0.6);
}

.resource-controls .gantt_layout_content {
    padding: 7px;
    overflow: hidden;
}

.resource-controls label {
    margin: 0 10px;
    vertical-align: bottom;
    display: inline-block;
    color: #3e3e3e;
    padding: 2px;
    transition: box-shadow 0.2s;
}

    .resource-controls label:hover {
        box-shadow: 0 2px rgba(84, 147, 255, 0.42);
    }

    .resource-controls label.active,
    .resource-controls label.active:hover {
        box-shadow: 0 2px #5493ffae;
        color: #1f1f1f;
    }

.resource-controls input {
    vertical-align: top;
}

.gantt_task_cell.week_end {
    background-color: #e8e8e87d;
}

.gantt_task_row.gantt_selected .gantt_task_cell.week_end {
    background-color: #e8e8e87d !important;
}


.group_row,
.group_row.odd,
.gantt_task_row.group_row {
    background-color: rgba(232, 232, 232, 0.6);
}

.gantt_tooltip {
    font-size: 13px;
    line-height: 16px;
}