@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmcureNPD.Business.Models.PIDFMedicalViewModel;
<div style="border:1px solid black" class="vh-100">
    <form style="padding:10px" asp-controller=PIDForm asp-action=Medical asp-route-id="@ViewBag.id" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <P class="h3">Medical Opinion</P>
                <div class="mt-5">
                <label>Positive</label>
                <input asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=1 />
                <label>Negative</label>
                <input asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=0 /><br />
                <span asp-validation-for=MedicalOpinion class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <label class="mb-0 d-none d-md-block" for="remarks">Remarks</label>
                <textarea cols=40 rows=6 asp-for=Remark class="mt-3" id="remarks"> </textarea><br />
                <span asp-validation-for=Remark class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label>File Upload</label>
                <input type="file" name="File"  id="File" multiple/>
                <span asp-validation-for=File class="text-danger"></span>
                <button class="btn btn-primary">Browse</button> <button class="btn btn-primary">Preview</button>
            </div>

        </div>
        <div class="row mt-5" style="text-align:center">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value=Submit />
                <input class="btn btn-danger"  value=Cancel />
                <input type="submit" class="btn btn-primary" value="Save Draft" />
            </div>
        </div>
    </form>

</div>