@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Medical - Emcure NPD";
}
@model EmcureNPD.Business.Models.PIDFMedicalViewModel;
<div style="border:1px solid black" class="vh-100">
    <form style="padding:10px" asp-controller=PIDForm asp-action=Medical asp-route-id="@ViewBag.id" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <P class="h3">Medical Opinion</P>
                <div class="mt-5">
                    <label>Positive</label>
                    <input asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=1 />
                    <label>Negative</label>
                    <input asp-for=MedicalOpinion type="radio" name="MedicalOpinion" value=0 /><br />
                    <span asp-validation-for=MedicalOpinion class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <label class="mb-0 d-none d-md-block" for="remarks">Remarks</label>
                <textarea cols=40 rows=6 asp-for=Remark class="mt-3" id="remarks"> </textarea><br />
                <span asp-validation-for=Remark class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label>File Upload</label>
                <input type="file" style="visibility: hidden;" name="File" id="File" multiple onchange="javascript:updateList()" />
                <span asp-validation-for=File class="text-danger"></span><br />
                <button class="btn btn-primary" id="selectFileButton">Browse</button> <button class="btn btn-primary">Preview</button>
                <ul id="fileList">
                    @{
                        if (Model.FileName != null)
                        {
                            @foreach (var fileName in Model.FileName)
                            {
                                <li>@fileName</li>
                            }
                        }
                    }
                </ul>
            </div>

        </div>
        <div class="row mt-5" style="text-align:center">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value=Submit />
                <input type="button" onclick="window.history.back();" class="btn btn-danger" value=Cancel />
                <input type="submit" class="btn btn-primary" value="Save Draft" />
            </div>
        </div>
        <div class="row mt-5" style="text-align:center">
            <div class="col-md-12">
                <input type="text" asp-for=PidfmedicalId hidden />
                <input type="text" asp-for=PidfmedicalFileId hidden />
            </div>
        </div>
    </form>

</div>

<script>
            updateList = function() {
            var input = document.getElementById('File');
            var output = document.getElementById('fileList');
            var children = "";

            for (var i = 0; i < input.files.length; ++i) {
                children += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML = children;
        }

    var selectFileButton = document.getElementById("selectFileButton");
    var fileInput = document.getElementById("File");

    selectFileButton.addEventListener("click", function() {
      event.preventDefault();
      fileInput.click();
    });

</script>