<div id="gantt-chart"></div>
@section MyScripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/custom/gantt/gantt.js"></script>
    <script>
        var GetAllTaskSubTaskList = "@EmcureNPD.Web.Helpers.APIURLHelper.GetAllTaskSubTaskList";
    </script>
}