@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "PIDFList";
}
<style>


    .treegrid-control span {
        cursor: pointer;
        padding: 0px 5px;
        display: block;
        box-shadow: 0 0 1px #999;
        width: 20px;
        height: 25px;
    }

    .treegrid-control-open span {
        cursor: pointer;
        padding: 0px 7px;
        display: block;
        box-shadow: 0 0 1px #999;
        width: 20px;
        height: 25px;
    }
</style>

<div class="content-wrapper">
    <section class="content pt-3">
        <div class="container-fluid">
            <div class="row">
                <section class="col-lg-12">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-list  mr-2"></i> Project List
                            </h3>
                            <div class="card-tools md-left">
                                <div class="mybtn-group">
                                    <a class="btn btn-primary" href="@Url.Action("GanttSummary","GanttNew")"><i class="fas fa-project-diagram mr-2"></i>PIDF Gantt Chart</a>



                                    <a class="btn btn-primary" href="@Url.Action("PIDFList","PIDF")"><i class="fas fa-list mr-1"></i>Project List</a>


                                    <a class="btn btn-primary" href="@Url.Action("PIDFStrengthList","PIDF")"><i class="far fa-list-alt mr-1"></i>PIDF List</a>

                                    <a class="btn btn-primary" href="@Url.Action("PIDFNew","PIDF")"><i class="far fa-plus-square mr-1"></i> Create New PIDF</a>

                                </div>
                                <div class="export-btn mybtn-group"></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="PIDFCountrywiseTable" class="table table-bordered" cellspacing="0" width="100%"></table>

                            </div>
                        </div>

                    </div>
                </section>
            </div>


        </div>
    </section>

</div>
<script src='~/js/dataTables.treeGrid.js'></script>

@section Scripts {
    <script>

        var columns = [
            {

                title: '',
                target: 0,
                className: 'treegrid-control',
                data: function (item) {
                    if (item.children) {
                        return '<span>+<\/span>';
                    }

                    return '';
                }

            },
            {
                title: 'PIDF No',
                target: 1,
                className: 'minw70',
                data: function (item) {
                    return item.pidfNo;
                }

            },
            {
                title: 'Product / Region',
                target: 2,
                data: function (item) {
                    return item.projectorProductName;
                }

            },
            {
                title: 'Country',
                target: 3,
                data: function (item) {
                    return item.countryName;
                }
            },
            {
                title: 'Pack Size',
                target: 4,
                data: function (item) {
                    return item.packSizeName;
                }
            },
            {
                title: 'Packing',
                target: 5,
                data: function (item) {
                    return item.packingName;
                }
            },
            {
                title: 'Strength',
                target: 6,
                data: function (item) {
                    return item.pidfStrength;
                }
            },
            {
                title: '1st Year CIFPrice PerPack',
                target: 7,
                data: function (item) {
                    return item.cifPricePerPack1;
                }
            },{
                title: '2nd Year CIFPrice PerPack',
                target: 8,
                data: function (item) {
                    return item.cifPricePerPack2;
                }
            },{
                title: '3rd Year CIFPrice PerPack',
                target: 9,
                data: function (item) {
                    return item.cifPricePerPack3;
                }
            },{
                title: '1st Year Quantity',
                target: 10,
                data: function (item) {
                    return item.qtyOneyear;
                }
            },{
                title: '2nd Year Quantity',
                target: 11,
                data: function (item) {
                    return item.qtyTwoyear;
                }
            },{
                title: '2nd Year Quantity',
                target: 12,
                data: function (item) {
                    return item.qtyTwoyear;
                }
            },{
                title: '3rd Year Quantity',
                target: 13,
                data: function (item) {
                    return item.qtyThreeyear;
                }
            },{
                title: '1st Year Volume',
                target: 14,
                data: function (item) {
                    return item.volOneyear;
                }
            },{
                title: '2nd Year Volume',
                target: 15,
                data: function (item) {
                    return item.volTwoyear;
                }
            },{
                title: '3rd Year Volume',
                target: 16,
                data: function (item) {
                    return item.volThreeyear;
                }
            },
            {
                title: 'Project Status',
                className: 'minw100',
                target: 17,
                data: function (item) {
                    return item.projectStatus;
                }
            }
            //{
            //    title: 'Action',
            //    target: 18,
            //    data: function (item) {
            //        return item.action;
            //    }
            //}

        ];

        $(document).ready(function () {
            //var StatusId = 19;
            // var regEx = "^" + StatusId + "$";
            var table = $('#PIDFCountrywiseTable').DataTable({
                columns: columns,
                dom: 'Bfrtip',
               buttons: [
                    {
                        extend: 'excel', text: '<i class="far fa-file-excel"></i> Export In Excel ', className: "btn-primary", exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {extend: 'colvis', className:"btn-primary" }
                 ],

                lengthChange: false,
                //columnDefs: [
                //    {
                //        visible: false,
                //        targets: 8
                //    }

                //],
                //initComplete: function () {
                //    this
                //        .api()
                //        .column(8)
                //        .search(regEx, true, false,true)
                //        .draw()
                //},
                ajax: '/PIDF/GetPIDFList',
                treeGrid: {
                    'left': 10,
                    'expandIcon': '<span>+<\/span>',
                    'collapseIcon': '<span>-<\/span>'
                }

            });


            table.buttons().container()
                .appendTo('.export-btn');

            //$('.status_filter').on('click', function () {
            //    var term = $(this).data('status');
            //    var regExp = "^" + term + "$";
            //    table.columns(8).search(regExp, true, false,true).draw();

            //});

            $(".buttons-excel").removeClass("btn-secondary");
            $(".buttons-collection").removeClass("btn-secondary");

        });        


    </script>
}

